<% var page = json.template; %>

<%- include('../common/include/_head', { page }); %>
	<%- include('../common/include/_header') %>
	<!-- main -->
	<main id="main" class="main-contents">
	</main>
	<!-- /.main -->
<%- include('../common/include/_footer') %>
