// theme color
$color-main: #333333;

// link color
$color-link-base: $color-main;

// dark color
$color-dark: #000000;

// light color
$color-light: #ffffff;

// gray color
$color-gray: #f0f0f0;

// text color
$color-text-base: $color-main;
